In [1]:
for i in range (5):
  for j in range (i+1):
    print("*",end="")

  print()

*
**
***
****
*****

In [2]:
for i in range (5):
  for j in range (5-i):
    print("*",end="")

  print()

*****
****
***
**
*

In [3]:


def triangle(n):
     
    
    k = n - 1
    
    for i in range(0, n):
     
        
        for j in range(0, k):
            print(end=" ")
     
        
        k = k - 1
     
        
        for j in range(0,i+1):
         
            
            print(" *",end="")
            
            
        print("\r")

n = 5
triangle(n)

     *
    * *
   * * *
  * * * *
 * * * * *

In [4]:
rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")
   
    while k!=(2*i-1):
        print("* ", end="")
        k += 1
   
    k = 0
    print()

Enter number of rows: 3
    *
  * * *
* * * * *